body {
	margin-top: 5%;
	text-align: center;
}

li {
    list-style-type: none;
	display: inline;
	font-size: 18px;
}

 /* unvisited link */
a:link {
    color: #0000FF;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: #800080;
}

/* mouse over link */
a:hover {
    color: red;
	text-decoration: underline;
}

/* selected link */
a:active {
    color: yellow;
} 

div#navigation {
	text-align:center;
}