body {
	margin-top: 5%;
	text-align: center;
}

li {
    list-style-type: none;
	display: inline;
	font-size: 18px;
}

 /* unvisited link */
a:link {
    color: #0080b7;
	text-decoration: none;
}

/* visited link */
a:link:hover {
    color: #ba0000;
	text-decoration: underline;
}

/* mouse over link */
a:visited {
    color: #663399;
}

/* mouse over link */
a:visited:hover {
    color: #663399;
}


div#navigation {
	text-align:center;
}